<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968054122840-0gbi54k51a0b85h6susqhpkk0ee2iv2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968054122840-0gbi54k51a0b85h6susqhpkk0ee2iv2r</string>
	<key>API_KEY</key>
	<string>AIzaSyCTpbbxcOlEnK4eBhWMOZmFeXPIbAE0ZAY</string>
	<key>GCM_SENDER_ID</key>
	<string>968054122840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mylittleponey.myLittlePoney</string>
	<key>PROJECT_ID</key>
	<string>my-little-poney-ecbee</string>
	<key>STORAGE_BUCKET</key>
	<string>my-little-poney-ecbee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968054122840:ios:3f2388c8fdb602da549d2d</string>
</dict>
</plist>